body{
  background-color: rgb(0, 0, 0);
  height: 100%;
  color: antiquewhite;
}


.cards{
  display: flex;
  justify-content:center;
  margin:50px;
}

.card_info{
  display: flex;
  justify-content: center;
  align-items:flex-start;
  
}

.card_category{
  margin-left:150px;

}

.card_tittle{
  margin-right: 250px;
  margin-top: 0px;
}

h1{
  display: flex;
  justify-content: center;
}

.card_img{
  border-radius: 2%;
}

button{
  cursor:pointer;
}
